.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #202020;
}

.profile__container {
  max-width: 1280px;
  height: calc(100vh - 74px);
  width: 100%;
  padding: 74px 80px 70px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .profile__container {
    padding: 232px 40px 70px;
    height: calc(100vh - 80px);
  }
}

@media screen and (max-width: 550px) {
  .profile__container {
    padding: 66px 30px 40px;
  }
}

.profile__title {
  padding: 0;
  margin: 0 0 123px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .profile__title {
    margin: 0 0 96px;
  }
}

@media screen and (max-width: 550px) {
  .profile__title {
    margin: 0 0 80px;
  }
}

.profile__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 410px;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .profile__form {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 550px) {
  .profile__form {
    justify-content: space-between;
  }
}

.profile__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.profile__btns-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.profile__input-container {
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #424242;
  width: 100%;
  position: relative;
  transition: border 0.2s;
}

.profile__input-container:last-of-type {
  padding-bottom: 0;
  padding-top: 17px;
  border: none;
}

.profile__input-container_focus {
  border-color: #3456F3;
}

@media screen and (max-width: 1024px) {
  .profile__input-container:last-of-type {
    margin-bottom: 210px;
  }
}

@media screen and (max-width: 550px) {
  .profile__input-container:last-of-type {
    margin-bottom: 0;
  }
}

.profile__input-title {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #FFFFFF;
  max-width: 140px;
  width: 100%;
}

.profile__input {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  color: #FFFFFF;
  border: none;
  background: none;
}

.profile__input:focus-visible {
  outline: none;
}

.profile__input-err {
  position: absolute;
  top: -8px;
  right: 0;
  transform: translateY(-100%);
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
  text-align: left;
  width: 100%;
}

.profile__input-err_visible {
  opacity: 1;
  visibility: visible;
}

.profile__input-err_bottom {
  top: auto;
  bottom: -8px;
  transform: translateY(100%);
}

.profile__edit-btn {
  margin: 0 0 16px;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  border: none;
  background: none;
  transition: opacity 0.2s;
}

.profile__edit-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.profile__logout-btn {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #EE3465;
  border: none;
  background: none;
  transition: opacity 0.2s;
}

@media screen and (max-width: 550px) {
  .profile__logout-btn {
    font-size: 12px;
  }
}

.profile__logout-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.profile__save-btn {
  margin: 0;
  padding: 13px 10px 15px;
  width: 100%;
  background: #3456F3;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  transition: opacity 0.2s, background 0.2s;
}

.profile__save-btn_disabled {
  background: #424242;
  color: #C2C2C2;
}

@media screen and (max-width: 550px) {
  .profile__save-btn {
    font-size: 12px;
  }
}

.profile__save-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.profile__save-btn_disabled:hover {
  opacity: 1;
  cursor: default;
}

.profile__error-msg {
  margin: 0;
  padding: 0;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, -100%);
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #FF004C;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
}

.profile__error-msg_visible {
  opacity: 1;
  visibility: visible;
}

.profile__info-message {
  margin: 0;
  padding: 0;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, -100%);
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #3DDC84;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
}

.profile__info-message_visible {
  opacity: 1;
  visibility: visible;
}
