.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #202020;
}

.search-form__container {
  max-width: 1280px;
  width: 100%;
  padding: 70px 70px 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .search-form__container {
    padding: 80px 30px 0;
  }
}

@media screen and (max-width: 550px) {
  .search-form__container {
    padding: 80px 10px 0;
  }
}

.search-form__row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #424242;
  padding-bottom: 69px;
}

@media screen and (max-width: 1024px) {
  .search-form__row {
    padding-bottom: 109px;
  }
}

@media screen and (max-width: 550px) {
  .search-form__row {
    flex-direction: column;
    gap: 45px;
    align-items: center;
    padding-bottom: 44px;
  }
}

.search-form__input-container {
  background: #2F2F2F;
  border-radius: 9px 0 0 9px;
  padding: 19px 0 19px 19px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
}

@media screen and (max-width: 550px) {
  .search-form__input-container {
    border-radius: 9px;
    padding: 19px;
  }
}

.search-form__input-row {
  width: 100%;
  padding-right: 30px;
  border-right: 1px solid #424242;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 550px) {
  .search-form__input-row {
    padding-right: 0;
    border-right: 0;
  }
}

.search-form__input-icon {
  height: 34px;
  min-width: 34px;
  max-width: 34px;
  margin-right: 10px;
  background: url(../../images/loupe-icon.svg) no-repeat center;
  background-size: contain;
}

@media screen and (max-width: 550px) {
  .search-form__input-icon {
    display: none;
  }
}

.search-form__input {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #FFFFFF;
}

@media screen and (max-width: 550px) {
  .search-form__input::placeholder {
    font-size: 14px;
    line-height: 20px;
  }
}

.search-form__input:focus-visible {
  outline: none;
}

.search-form__input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #8B8B8B;
}

@media screen and (max-width: 550px) {
  .search-form__input::placeholder {
    font-size: 14px;
    line-height: 20px;
  }
}

.search-form__input-btn {
  margin-left: 46px;
  border: none;
  padding: 0;
  height: 34px;
  min-width: 34px;
  max-width: 34px;
  background: url(../../images/loupe-btn-icon.svg) no-repeat center;
  background-size: contain;
  transition: opacity 0.2s;
}

.search-form__input-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.search-form__toggle-container {
  display: flex;
  padding: 26px 30px 26px 29px;
  background: #2F2F2F;
  border-radius: 0 9px 9px 0;
  gap: 14px;
  align-items: center;
}

@media screen and (max-width: 550px) {
  .search-form__toggle-container {
    background: none;
    gap: 13px;
  }
}

.search-form__toggle-text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
}

.search-form__toggle-btn {
  width: 36px;
  height: 20px;
  background: #343434;
  border-radius: 20px;
  position: relative;
  border: none;
  transition: opacity 0.2s;
}

.search-form__toggle-btn::after {
  position: absolute;
  content: '';
  left: 2px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #FFFFFF;
  transition: background 0.2s, all 0.2s, right 0.2s;
  background: #A0A0A0;
}

.search-form__toggle-btn_active::after {
  background: #2BE080;
  left: auto;
  right: 2px;
}

.search-form__toggle-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
