.about-project {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #202020;
}

.about-project__container {
  max-width: 1280px;
  width: 100%;
  padding: 110px 70px 141px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .about-project__container {
    padding: 90px 50px 121px;
  }
}

@media screen and (max-width: 550px) {
  .about-project__container {
    padding: 70px 18px 93px;
  }
}

.about-project__info-list {
  margin: 0;
  padding: 70px 0 110px;
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

@media screen and (max-width: 1024px) {
  .about-project__info-list {
    padding: 70px 0 93px;
  }
}

@media screen and (max-width: 550px) {
  .about-project__info-list {
    padding: 60px 0;
    grid-template-columns: 1fr;
  }
}

.about-project__info-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

@media screen and (max-width: 550px) {
  .about-project__info-item {
    gap: 16px;
  }
}

.about-project__subtitle {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}

@media screen and (max-width: 550px) {
  .about-project__subtitle {
    font-size: 18px;
    line-height: 22px;
  }
}

.about-project__text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

@media screen and (max-width: 550px) {
  .about-project__text {
    font-size: 11px;
    line-height: 16px;
  }
}

.about-project__time-intervals {
  width: 100%;
  display: flex;
}

.about-project__time-interval {
  padding: 10px 9px;
  background: #303030;
  width: 100%;
  position: relative;
  color: #FFFFFF;
  box-sizing: border-box;
}

.about-project__time-interval_short {
  max-width: 228px;
  width: 100%;
  background: #3DDC84;
  color: #000000;
}

@media screen and (max-width: 1024px) {
  .about-project__time-interval_short {
    max-width: 140px;
  }
}

@media screen and (max-width: 550px) {
  .about-project__time-interval_short {
    max-width: 100px;
  }
}

.about-project__time-interval-text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 550px) {
  .about-project__time-interval-text {
    font-size: 11px;
    line-height: 13px;
  }
}

.about-project__time-interval-label {
  margin: 0;
  padding: 0;
  position: absolute;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #A0A0A0;
  bottom: -14px;
  left: 50%;
  transform: translate(-50%, 100%);
}

@media screen and (max-width: 550px) {
  .about-project__time-interval-label {
    font-size: 11px;
    line-height: 13px;
  }
}
