.login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.login__header {
  max-width: 396px;
  width: 100%;
  padding: 70px 0 40px;
}

.login__header-logo {
  margin: 0;
  padding: 0;
  text-decoration: none;
  width: 38px;
  height: 38px;
  display: block;
  background: url(../../images/logo.svg) no-repeat center;
  transition: opacity 0.2s;
}
